
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.economy-Rf3 {
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 2.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .auto-group-vj9d-LGD {
    flex-shrink: 0;
    margin: 0rem 0rem 3.5rem 3.3rem;
    display: flex;
    align-items: center;

    .image-1-R2m {
      width: 11.1rem;
      height: 10.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.1rem;
    }
    .aljazeera-wWu {
      color: #efbf14;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.8725;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 4.8rem 0.8rem 0rem;
    }
    .home-q6V {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.85rem 1.1rem 0rem;
      cursor: pointer;
      text-align: center;
      font-family: Cairo, 'Source Sans Pro';
    }
    .news-8rH {
      margin: 0rem 0.35rem 1.1rem 0rem;
      line-height: 1.8725;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      color: #150c0c;
      flex-shrink: 0;
    }
    .vector-TNm {
      flex-shrink: 0;
      margin: 0rem 2.049rem 0.6rem 0rem;
      width: 1.2009rem;
      height: 0.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .israel-gaza-war-aiH {
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      line-height: 1.8725;
      color: #150c0c;
      margin: 0rem 1.5rem 1.1rem 0rem;
      cursor: pointer;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
    }
    .features-W69 {
      margin: 0rem 1.45rem 1.1rem 0rem;
      text-align: center;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
      white-space: nowrap;
    }
    .economy-1Ho {
      font-size: 2rem;
      font-weight: 700;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.6rem 1.1rem 0rem;
      text-align: center;
      line-height: 1.8725;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
    }
    .opinion-vff {
      font-size: 2rem;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      margin: 0rem 1.75rem 1.1rem 0rem;
      cursor: pointer;
      text-align: center;
      line-height: 1.8725;
      color: #150c0c;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .video-SP7 {
      line-height: 1.8725;
      color: #150c0c;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.75rem 1.1rem 0rem;
      font-size: 2rem;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      cursor: pointer;
      text-align: center;
    }
    .more-Zid {
      margin: 0rem 0.3rem 1.1rem 0rem;
      line-height: 1.8725;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
    }
    .vector-Uah {
      margin: 0rem 4.198rem 0.7rem 0rem;
      width: 0.9022rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-bvD {
      flex-shrink: 0;
      margin: 0rem 0.8rem 0.6rem 0rem;
      width: 2.1rem;
      height: 1.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .live-8v9 {
      white-space: nowrap;
      line-height: 1.8725;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      color: #000000;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 3.7rem 0.5rem 0rem;
    }
    .vector-rr9 {
      margin: 0rem 33.8rem 0.4rem 0rem;
      width: 2rem;
      height: 2.1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .live-Q6y {
      font-size: 3rem;
      flex-shrink: 0;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 22.7rem 0.6rem 0rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.8725;
    }
    .live-8Hs {
      white-space: nowrap;
      margin-top: 1.4rem;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      color: #150c0c;
      flex-shrink: 0;
      text-align: center;
      font-size: 4rem;
      line-height: 1.8725;
    }
  }
  .auto-group-imvd-Tqw {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    width: 100%;
    height: 19.5rem;

    .auto-group-mpmu-QFP {
      margin-right: 31.9642rem;
      width: 144rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .economy-Leq {
        width: 15.9rem;
        left: 61.7rem;
        font-size: 4rem;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        height: 7.5rem;
        position: absolute;
        top: 12rem;
        line-height: 1.8725;
        font-family: Cairo, 'Source Sans Pro';
      }
      .rectangle-1-FWu {
        left: 0;
        top: 0;
        background-color: #e93a3a;
        width: 144rem;
        height: 12.4rem;
        position: absolute;
      }
      .breaking-o2d {
        top: 2.2rem;
        font-weight: 700;
        line-height: 1.8725;
        font-family: Cairo, 'Source Sans Pro';
        text-align: center;
        font-size: 3.6rem;
        color: #f6eeee;
        white-space: nowrap;
        width: 16.4rem;
        height: 6.8rem;
        position: absolute;
        left: 1.8rem;
      }
      .line-1-WBw {
        height: 0.1rem;
        position: absolute;
        left: 20.2rem;
        top: 2.2rem;
        background-color: #faeded;
        width: 0.1rem;
      }
      .who-chief-raises-concerns-after-israel-forces-raid-northen-gaza-hospital-eJ9 {
        line-height: 1.8725;
        color: #f6eeee;
        white-space: nowrap;
        position: absolute;
        left: 22.55rem;
        top: 2.7rem;
        font-size: 3.2rem;
        font-family: Cairo, 'Source Sans Pro';
        width: 98.8rem;
        height: 6rem;
        text-align: center;
        font-weight: 700;
      }
      .vector-7hX {
        height: 2.7012rem;
        position: absolute;
        left: 125.3rem;
        top: 4.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.9rem;
      }
      .vector-eBf {
        width: 2.4rem;
        height: 2.1947rem;
        position: absolute;
        left: 131rem;
        top: 4.8rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .iconoir-cancel-mXB {
      margin-top: 3.7485rem;
      width: 2.272rem;
      height: 2.403rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-ofis-J1K {
    box-sizing: border-box;
    padding-top: 4.6rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-hdf9-2T7 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 14.6rem 7.5rem 3.9rem;
      width: calc(100% - 18.5rem);
      height: 73.1rem;

      .auto-group-odib-jsK {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .image-35-6hs {
          margin-bottom: 2.2rem;
          width: 58.3rem;
          height: 37.9rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-watd-S13 {
          width: 57.4rem;
          height: 33rem;
          position: relative;
          flex-shrink: 0;

          .how-a-childs-death-caused-an-ohio-city-to-turn-on-its-haitian-community-a7F {
            font-size: 3.6rem;
            font-weight: 700;
            position: absolute;
            height: 13.5rem;
            left: 0.6rem;
            top: 0;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            width: 56.8rem;
          }
          .a-fatal-school-bus-crash-in-springfield-ohio-has-sparked-a-backlash-to-the-citys-burgeoning-immigrant-population-12-dec-2023-rKf {
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';
            position: absolute;
            left: 0;
            top: 13.1rem;
            font-weight: 700;
            line-height: 1.8739999135;
            width: 54rem;
            height: 19.9rem;
            font-size: 2.4rem;

            .a-fatal-school-bus-crash-in-springfield-ohio-has-sparked-a-backlash-to-the-citys-burgeoning-immigrant-population-12-dec-2023-rKf-sub-0 {
              line-height: 1.8725;
              color: #7a7676;
              font-family: Cairo, 'Source Sans Pro';
              font-size: 2.7rem;
              font-weight: 700;
            }
            .a-fatal-school-bus-crash-in-springfield-ohio-has-sparked-a-backlash-to-the-citys-burgeoning-immigrant-population-12-dec-2023-rKf-sub-1 {
              color: #7a7676;
              font-family: Cairo, 'Source Sans Pro';
              font-size: 2.5rem;
              font-weight: 700;
              line-height: 1.8725;
            }
          }
        }
      }
      .auto-group-mx1h-DC9 {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 2.5rem;
        height: 100%;

        .auto-group-r65y-ZWu {
          margin: 0.4rem 2.4rem 0rem 0rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .image-31-VvM {
            margin: 0rem 0.1rem 6.6rem 0rem;
            width: 25.9rem;
            height: 16.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .image-32-RZ7 {
            margin-bottom: 8.9rem;
            width: 25.9rem;
            height: 18.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .image-34-Mhf {
            width: 25.9rem;
            height: 16.4rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-ezbm-VYy {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .yemens-houthis-claim-missile-attack-on-norwegian-ship-qsj {
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            max-width: 26.1rem;
            font-size: 2rem;
            font-weight: 700;
          }
          .auto-group-a5ib-Z33 {
            width: 35.6rem;
            height: 36.6rem;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 5.2rem;

            .communities-on-us-lng-front-line-ask-biden-to-reject-export-terminal-Hzd {
              color: #000000;
              font-family: Cairo, 'Source Sans Pro';
              position: absolute;
              left: 0;
              top: 14rem;
              font-size: 2rem;
              width: 26.5rem;
              height: 11.3rem;
              font-weight: 700;
              line-height: 1.8725;
            }
            .no-callualties-reported-from-strike-on-strinda-tankers-as-it-passed-strought-strategic-bab-al-man-deb-strait-12-dec-2023-nRb {
              position: absolute;
              left: 0;
              font-weight: 700;
              width: 35.6rem;
              height: 12rem;
              line-height: 1.8725;
              color: #7a7676;
              font-family: Cairo, 'Source Sans Pro';
              top: 0;
              font-size: 1.6rem;
            }
            .lousianas-booming-lng-industryis-wreaking-hav-oc-on-fishing-commounty-local-and-protesting-a-potential-new-terminal-11-dec-2023-rgM {
              font-size: 1.6rem;
              font-weight: 700;
              left: 0;
              height: 12rem;
              position: absolute;
              top: 24.6rem;
              line-height: 1.8725;
              color: #7a7676;
              font-family: Cairo, 'Source Sans Pro';
              width: 34.5rem;
            }
          }
          .argentinas-javier-milei-tells-na-tion-to-brace-for-painful-econom-ic-shock-7sB {
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.3rem;
            max-width: 28.4rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
          }
          .newly-inaugurated-libertarian-president-warns-there-is-no-alternative-to-a-shock-adjustment-11-dec-2023-1hf {
            max-width: 36.3rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-9zmh-JAy {
      width: calc(100% - 16.3rem);
      height: 32.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 11.8rem 7.98rem 4.5rem;

      .auto-group-yi2o-1r5 {
        margin-right: 12.2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .for-myanmars-generals-energy-crisis-threatens-shaky-grip-on-power-Muw {
          margin-bottom: 2.8rem;
          max-width: 51.1rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .min-aung-hlaings-administration-is-facing-energy-shortages-as-it-struggles-to-quell-opposition-to-its-rule-11-dec-2023-3Gy {
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 72.2rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.8725;
          color: #7a7676;
        }
      }
      .image-106-KkH {
        margin-bottom: 0.4rem;
        width: 43.3rem;
        height: 29.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .line-35-3gH {
      margin: 0rem 11.789rem 6.3rem 4.5rem;
      width: calc(100% - 16.2894rem);
      height: 0.12rem;
      background-color: #bcacac;
      flex-shrink: 0;
    }
    .auto-group-p2zh-m6V {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 11.8rem 7.3rem 4.5rem;
      width: calc(100% - 16.3rem);
      display: flex;

      .auto-group-rmlf-68m {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 5rem;

        .changing-course-how-javier-milei-will-tranform-argentinas-foreign-policy-eAH {
          margin-bottom: 1.8rem;
          max-width: 50.6rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .president-elect-milei-will-seek-to-align-latin-americas-thrid-largest-economy-with-the-us-israel-and-the-free-world-8-dec-2023-jxR {
          flex-shrink: 0;
          max-width: 79.4rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.8725;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
        }
      }
      .image-108-pDB {
        width: 43.3rem;
        height: 32.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .line-36-A29 {
      margin: 0rem 11.789rem 4.78rem 4.5rem;
      width: calc(100% - 16.2894rem);
      height: 0.12rem;
      background-color: #bcacac;
      flex-shrink: 0;
    }
    .auto-group-3fcf-tD3 {
      flex-shrink: 0;
      margin: 0rem 11.8rem 12rem 4.5rem;
      width: calc(100% - 16.3rem);
      display: flex;
      align-items: flex-end;

      .auto-group-vzur-DWD {
        margin: 0rem 1.7rem 1.2rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tech-firms-falling-to-walk-the-walk-on-ethi-cal-aireport-says-9uf {
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 4.1rem 0.9rem;
          max-width: 65.8rem;
          font-size: 3.5rem;
          font-weight: 700;
          line-height: 1.8725;
        }
        .stanford-university-reseachers-say-ai-ethics-pratitioners-report-lacking-institutional-support-at-their-companies-dpq {
          font-size: 3.5rem;
          font-weight: 500;
          line-height: 1.8725;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 82.7rem;
        }
      }
      .image-110-8Wh {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 43.3rem;
        height: 28.6rem;
      }
    }
    .line-37-sUH {
      margin: 0rem 10.889rem 2.48rem 5.4rem;
      width: calc(100% - 16.2894rem);
      height: 0.12rem;
      background-color: #bcacac;
      flex-shrink: 0;
    }
    .auto-group-yvyb-zoo {
      flex-shrink: 0;
      margin: 0rem 11.8rem 4.2rem 5.4rem;
      width: calc(100% - 17.2rem);
      height: 37.9rem;
      display: flex;
      align-items: center;

      .auto-group-frrq-KLH {
        flex-shrink: 0;
        margin-right: 4.6rem;
        height: 100%;
        display: flex;
        flex-direction: column;

        .as-retailer-reis-troubles-with-employees-continues-consumers-back-off-rb7 {
          max-width: 56.6rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.9rem;
        }
        .once-know-as-the-beacon-of-corporate-america-rei-is-now-embroiled-in-face-offs-with-employees-putting-off-con-sumers-7-dec-2023-ZVX {
          max-width: 78.9rem;
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.8725;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .image-111-39o {
        margin-top: 0.6rem;
        width: 43.3rem;
        height: 27.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-8bj1-yJM {
      flex-shrink: 0;
      padding: 0.4rem 14.5rem 0rem 13.8rem;
      width: calc(100% - 98.4rem);
      font-weight: 400;
      line-height: 1.8725;
      color: #fffdfd;
      font-family: Cairo, 'Source Sans Pro';
      background-color: #000000;
      margin: 0rem 62rem 34.1rem 36.4rem;
      box-sizing: border-box;
      font-size: 3.6rem;
      white-space: nowrap;
    }
    .image-95-Ek5 {
      margin-right: 1.9rem;
      width: 142.1rem;
      height: 64.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
