
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 70.1rem;
}.image-42-TvM {
  height: 43.8rem;
  object-fit: cover;
  vertical-align: top;
  width: 100%;
}
