
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.israel-palestine-conflict-M2d {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 2.7rem;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;

  .auto-group-nb2j-rEH {
    margin: 0rem 0rem 1.8rem 3.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .image-1-wWd {
      margin-right: 2.1rem;
      width: 11.1rem;
      height: 10.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .aljazeera-TE5 {
      flex-shrink: 0;
      margin: 0rem 4.8rem 0.8rem 0rem;
      text-align: center;
      line-height: 1.8725;
      color: #efbf14;
      font-size: 3rem;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
    }
    .home-kU5 {
      cursor: pointer;
      font-weight: 700;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 2.85rem 1.1rem 0rem;
      text-align: center;
      font-size: 2rem;
      line-height: 1.8725;
      white-space: nowrap;
    }
    .news-4Um {
      font-family: Cairo, 'Source Sans Pro';
      margin: 0rem 0.35rem 1.1rem 0rem;
      text-align: center;
      font-size: 2rem;
      color: #150c0c;
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 700;
      line-height: 1.8725;
    }
    .vector-BJV {
      flex-shrink: 0;
      margin: 0rem 2.049rem 0.6rem 0rem;
      width: 1.2009rem;
      height: 0.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .israel-gaza-war-W5s {
      margin: 0rem 1.5rem 1.1rem 0rem;
      font-size: 2rem;
      flex-shrink: 0;
      text-align: center;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
    }
    .features-ceh {
      text-align: center;
      white-space: nowrap;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 1.45rem 1.1rem 0rem;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
    }
    .economy-Lah {
      font-family: Cairo, 'Source Sans Pro';
      cursor: pointer;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
      white-space: nowrap;
      margin: 0rem 2.6rem 1.1rem 0rem;
      flex-shrink: 0;
    }
    .opinion-TQR {
      white-space: nowrap;
      margin: 0rem 1.75rem 1.1rem 0rem;
      cursor: pointer;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      line-height: 1.8725;
      color: #150c0c;
    }
    .video-aE9 {
      margin: 0rem 2.75rem 1.1rem 0rem;
      text-align: center;
      font-size: 2rem;
      line-height: 1.8725;
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 700;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
    }
    .more-Vru {
      line-height: 1.8725;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0.3rem 1.1rem 0rem;
      font-size: 2rem;
      font-weight: 700;
      color: #150c0c;
      white-space: nowrap;
      text-align: center;
    }
    .vector-CWR {
      flex-shrink: 0;
      margin: 0rem 4.198rem 0.7rem 0rem;
      width: 0.9022rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-vxD {
      flex-shrink: 0;
      margin: 0rem 0.8rem 0.6rem 0rem;
      width: 2.1rem;
      height: 1.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .live-Tx9 {
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      line-height: 1.8725;
      color: #000000;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 3.7rem 0.5rem 0rem;
      font-weight: 700;
    }
    .vector-zBP {
      margin: 0rem 32rem 0.4rem 0rem;
      width: 2rem;
      height: 2.1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .live-KzM {
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
    }
  }
  .auto-group-fqpb-g4D {
    box-sizing: border-box;
    padding: 2rem 14.1rem 3.1rem 0.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #e93a3a;
    flex-shrink: 0;

    .breaking-PzD {
      text-align: center;
      font-size: 3.6rem;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0.5rem 0.8rem 0rem 0rem;
      font-weight: 700;
      line-height: 1.8725;
      color: #f6eeee;
      flex-shrink: 0;
    }
    .line-1-7vD {
      margin: 0rem 2.05rem 7.2rem 0rem;
      width: 0.1rem;
      height: 0.1rem;
      background-color: #faeded;
      flex-shrink: 0;
    }
    .who-chief-raises-concerns-after-israel-forces-raid-northen-gaza-hospital-Rvu {
      text-align: center;
      font-size: 3.2rem;
      font-weight: 700;
      color: #f6eeee;
      white-space: nowrap;
      margin: 0.3rem 2.95rem 0rem 0rem;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.8725;
    }
    .vector-7oj {
      margin: 0.336rem 3.1rem 0rem 0rem;
      width: 2.9rem;
      height: 2.8362rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-Sr1 {
      margin-top: 0.8044rem;
      width: 2.4rem;
      height: 2.3044rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .israel-palestine-conflict-n9B {
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 2.9rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.8725;
    color: #000000;
    font-family: Cairo, 'Source Sans Pro';
  }
  .auto-group-bds1-ujb {
    width: 100%;
    height: 430.9rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-fbph-Rhw {
      top: 14.6rem;
      display: flex;
      align-items: center;
      width: 133.4rem;
      height: 86.9rem;
      position: absolute;
      left: 1.4rem;

      .auto-group-xtrj-kER {
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 1.5rem;

        .auto-group-8xd9-J13 {
          margin-right: 2.8rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .image-21-3UR {
            width: 60.2rem;
            height: 39.6rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 2rem;
          }
          .un-general-assembly-votes-overwhelmingly-in-favour-of-gaza-ceasefire-Nmb {
            flex-shrink: 0;
            margin-left: 1rem;
            max-width: 58.1rem;
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
          }
          .the-us-and-israel-were-among-the-few-votes-against-the-non-binding-resolution-calling-for-an-end-to-the-fighting-12-dec-2023-UZj {
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 1rem;
            max-width: 53.4rem;
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.8725;
          }
        }
        .auto-group-zsvd-kXF {
          margin: 1.3rem 0rem 1.8rem 0rem;
          height: calc(100% - 3.1rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .image-24-H1P {
            width: 32.6rem;
            height: 24.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 5.8rem;
          }
          .image-26-D9w {
            margin-bottom: 9.6rem;
            width: 32.6rem;
            height: 22.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .image-75-9ZP {
            width: 32.6rem;
            height: 21.6rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-jpcf-V7T {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-khyw-Eaq {
          margin: 0rem 0rem 4.5rem 0.6rem;
          width: 35.7rem;
          height: 26.9rem;
          position: relative;
          flex-shrink: 0;

          .even-in-time-of-genocide-big-tech-silences-palestinians-xWq {
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
            width: 35.1rem;
            height: 9rem;
            top: 3.5rem;
            font-size: 2.4rem;
            font-family: Cairo, 'Source Sans Pro';
            position: absolute;
            left: 0;
          }
          .social-media-platforms-have-been-systematically-censoring-pro-palestinian-content-while-allowing-anti-palestinian-hate-speech-rMK {
            left: 0;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #7a7676;
            width: 35.7rem;
            height: 15rem;
            position: absolute;
            top: 11.9rem;
            font-family: Cairo, 'Source Sans Pro';
          }
          .opinion-vc5 {
            color: #7a7676;
            white-space: nowrap;
            width: 9.6rem;
            position: absolute;
            left: 0;
            top: 0;
            font-family: Cairo, 'Source Sans Pro';
            height: 4.7rem;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.8725;
          }
        }
        .auto-group-p2mr-3gh {
          margin-bottom: 1rem;
          width: 35.5rem;
          height: 11.7rem;
          position: relative;
          flex-shrink: 0;

          .biden-warns-israel-risks-losing-support-over-indiscriminate-gaza-bombing-PkZ {
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
            width: 35.5rem;
            height: 7.9rem;
            position: absolute;
            left: 0;
            top: 3.8rem;
            font-size: 2.1rem;
            font-family: Cairo, 'Source Sans Pro';
          }
          .image-27-fi5 {
            height: 4.1rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 33.4rem;
          }
        }
        .us-president-offers-his-sharpest-public-criticism-of-israel-since-the-start-of-its-war-with-hamas-12-dec-2023-11F {
          margin: 0rem 0rem 6.4rem 0.4rem;
          max-width: 30.7rem;
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .auto-group-xbjj-4VK {
          width: 35.6rem;
          height: 23.6rem;
          position: relative;
          flex-shrink: 0;

          .photos-israel-is-bombing-starving-palestinians-in-southern-gaza-c13 {
            font-family: Cairo, 'Source Sans Pro';
            width: 35.2rem;
            height: 9rem;
            position: absolute;
            color: #000000;
            line-height: 1.8725;
            left: 0;
            top: 0;
            font-size: 2.4rem;
            font-weight: 700;
          }
          .the-us-and-israel-were-among-the-few-votes-against-the-non-binding-resolution-calling-for-an-end-to-the-fighting-12-dec-2023-WMK {
            width: 35.2rem;
            position: absolute;
            left: 0.4rem;
            font-weight: 700;
            font-family: Cairo, 'Source Sans Pro';
            height: 15rem;
            top: 8.6rem;
            font-size: 2rem;
            line-height: 1.8725;
            color: #7a7676;
          }
        }
      }
    }
    .auto-group-mn6x-ZqP {
      display: flex;
      align-items: center;
      width: 106rem;
      height: 34.5rem;
      position: absolute;
      left: 9.6rem;
      top: 122.3rem;

      .auto-group-dgso-JHB {
        margin-right: 5.3rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .what-is-the-situation-in-gazas-khan-younis-as-israel-intensifies-attacks-eM3 {
          max-width: 60rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .israel-has-intensified-attacks-on-khan-younis-which-was-dubbed-a-safe-zone-in-the-initial-days-of-the-war-12-dec-2023-YhK {
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 65.6rem;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #7a7676;

          .israel-has-intensified-attacks-on-khan-younis-which-was-dubbed-a-safe-zone-in-the-initial-days-of-the-war-12-dec-2023-YhK-sub-0 {
            font-size: 3rem;
            font-weight: 500;
            line-height: 1.8725;
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';
          }
          .israel-has-intensified-attacks-on-khan-younis-which-was-dubbed-a-safe-zone-in-the-initial-days-of-the-war-12-dec-2023-YhK-sub-1 {
          }
        }
      }
      .image-76-AMK {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 4.8rem;
        width: 35.1rem;
        height: 24.5rem;
      }
    }
    .line-26-h6M {
      width: 142.7rem;
      height: 0.1rem;
      position: absolute;
      left: 1.3rem;
      top: 9.6rem;
      background-color: #000000;
    }
    .explainer-RY9 {
      top: 111.9rem;
      font-weight: 700;
      line-height: 1.8725;
      font-family: Cairo, 'Source Sans Pro';
      width: 15.8rem;
      position: absolute;
      left: 15.4rem;
      white-space: nowrap;
      height: 6rem;
      font-size: 3.2rem;
      color: #000000;
    }
    .auto-group-vng3-Xr5 {
      width: 106rem;
      height: 28.1rem;
      position: absolute;
      left: 9.6rem;
      top: 162.4rem;
      display: flex;
      align-items: flex-end;

      .auto-group-chco-Tjj {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 3.6rem;
        width: 67.3rem;

        .from-newsfeed-ChK {
          top: 0;
          font-weight: 500;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
          left: 0;
          height: 5.7rem;
          position: absolute;
          font-size: 3rem;
          line-height: 1.8725;
          width: 21.4rem;
        }
        .everyone-is-going-hungry-in-gaza-un-en-voys-learn-on-visit-to-rafah-border-KX3 {
          font-size: 3rem;
          font-weight: 700;
          font-family: Cairo, 'Source Sans Pro';
          width: 53.9rem;
          position: absolute;
          left: 0;
          top: 5.6rem;
          line-height: 1.8725;
          color: #000000;
          height: 11.3rem;
        }
        .un-security-council-envoys-have-visited-gazas-rafah-border-crossing-with-egypt-PWu {
          height: 11.3rem;
          position: absolute;
          line-height: 1.8725;
          font-family: Cairo, 'Source Sans Pro';
          width: 67.3rem;
          left: 0;
          top: 16.8rem;
          font-size: 3rem;
          font-weight: 500;
          color: #000000;
        }
      }
      .image-77-58q {
        width: 35.1rem;
        height: 24.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.8rem;
      }
    }
    .line-26-p6R {
      height: 0.1073rem;
      position: absolute;
      left: 6.4rem;
      top: 158.3rem;
      background-color: #bcacac;
      width: 118.1027rem;
    }
    .line-28-YHK {
      top: 200.3rem;
      background-color: #bcacac;
      width: 118.1027rem;
      height: 0.1073rem;
      position: absolute;
      left: 6.4rem;
    }
    .line-29-Gz1 {
      left: 6.4rem;
      top: 242.5rem;
      background-color: #bcacac;
      width: 118.1027rem;
      height: 0.1073rem;
      position: absolute;
    }
    .line-30-RM7 {
      left: 6.4rem;
      top: 282.3rem;
      background-color: #bcacac;
      width: 118.1027rem;
      height: 0.1073rem;
      position: absolute;
    }
    .line-31-ZTK {
      width: 118.1027rem;
      height: 0.1073rem;
      position: absolute;
      left: 6.4rem;
      top: 330.5rem;
      background-color: #bcacac;
    }
    .image-78-JQu {
      object-fit: cover;
      vertical-align: top;
      width: 18.4rem;
      height: 3.2rem;
      position: absolute;
      left: 9.6rem;
      top: 192rem;
    }
    .image-81-di5 {
      top: 234.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 18.4rem;
      height: 3.2rem;
      position: absolute;
      left: 10.9rem;
    }
    .auto-group-gcjm-xVT {
      width: 105.8rem;
      height: 25.3rem;
      position: absolute;
      left: 9.8rem;
      top: 207.4rem;
      display: flex;
      align-items: flex-end;

      .un-security-council-envoys-have-visited-gaza-rafa-border-crossing-with-egypt-5a5 {
        flex-shrink: 0;
        margin-right: 3.6rem;
        max-width: 67.1rem;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.8725;
        color: #7a7676;
        font-family: Cairo, 'Source Sans Pro';
      }
      .image-80-BND {
        margin-bottom: 1.8rem;
        width: 35.1rem;
        height: 23.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-yitd-XBB {
      align-items: flex-end;
      width: 107.45rem;
      height: 26.3rem;
      position: absolute;
      left: 9.8rem;
      top: 249.8rem;
      display: flex;

      .auto-group-fdq5-Fcy {
        flex-shrink: 0;
        margin-right: 8.4rem;
        display: flex;
        flex-direction: column;

        .israeli-forces-blow-up-unrwa-school-in-northern-gaza-cCd {
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 53.9rem;
          font-size: 3.2rem;
          font-weight: 700;
        }
        .video-shows-the-moment-israeli-force-blew-up-the-unrwa-school-in-northern-gaza-XqP {
          font-weight: 500;
          line-height: 1.8725;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 62.3rem;
          font-size: 3.2rem;
        }
      }
      .image-84-Ejo {
        margin-bottom: 1.8rem;
        width: 36.75rem;
        height: 24.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-paa7-ySV {
      width: 108.5354rem;
      height: 31.7rem;
      position: absolute;
      left: 9.8rem;
      top: 291.5rem;
      display: flex;
      align-items: flex-start;

      .auto-group-yhej-6n1 {
        margin: 0.4rem 2.7rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .al-jazeera-journalists-father-killed-in-israeli-strike-on-his-gaza-home-EtD {
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.3rem;
          max-width: 59.5rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.8725;
        }
        .al-jazeera-journalist-anas-al-sharif-bids-farewall-to-his-father-who-was-killed-when-an-israeli-strike-hit-their-ja5 {
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 68rem;
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.8725;
        }
      }
      .image-87-Rho {
        width: 37.8354rem;
        height: 24.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .image-86-N7F {
      height: 3rem;
      position: absolute;
      left: 9.8rem;
      top: 277.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 15.8rem;
    }
    .image-88-6J9 {
      top: 324.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 16.6rem;
      height: 3rem;
      position: absolute;
      left: 9.8rem;
    }
    .auto-group-spef-2Sh {
      box-sizing: border-box;
      padding: 0.4rem 14.5rem 0rem 13.8rem;
      height: 7.2rem;
      font-size: 3.6rem;
      color: #fffdfd;
      position: absolute;
      top: 345.8rem;
      white-space: nowrap;
      width: 45.6rem;
      left: 45.7rem;
      line-height: 1.8725;
      background-color: #000000;
      font-weight: 400;
      font-family: Cairo, 'Source Sans Pro';
    }
    .frame-2-gGM {
      overflow: hidden;
      box-sizing: border-box;
      padding-left: 1.9rem;
      width: 134.9rem;
      height: 6rem;
      position: absolute;
      left: 1.3rem;
      top: 0.9rem;

      .frame-1-CkV {
        height: 5.7rem;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        width: 271.2rem;

        .live-updates-vwP {
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 2.85rem;
          text-align: center;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #150c0c;
          flex-shrink: 0;
        }
        .know-their-names-west-bank-4Gu {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.9rem;
          text-align: center;
          font-size: 3rem;
          line-height: 1.8725;
          color: #150c0c;
          font-weight: 700;
          font-family: Cairo, 'Source Sans Pro';
        }
        .tunnel-warfare-nCu {
          white-space: nowrap;
          margin-right: 2.85rem;
          font-size: 3rem;
          font-weight: 700;
          font-family: Cairo, 'Source Sans Pro';
          text-align: center;
          line-height: 1.8725;
          color: #150c0c;
          flex-shrink: 0;
        }
        .photos-iMT {
          margin-right: 2.85rem;
          flex-shrink: 0;
          white-space: nowrap;
          text-align: center;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #150c0c;
          font-family: Cairo, 'Source Sans Pro';
        }
        .what-role-is-ai-playing-rCm {
          font-weight: 700;
          line-height: 1.8725;
          color: #150c0c;
          font-family: Cairo, 'Source Sans Pro';
          margin-right: 2.95rem;
          font-size: 3rem;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
        .we-are-dying-here-yYH {
          line-height: 1.8725;
          color: #150c0c;
          margin-right: 2.9rem;
          font-size: 3rem;
          font-weight: 700;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
        .a-brief-history-ugq {
          font-weight: 700;
          line-height: 1.8725;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 3rem;
          color: #150c0c;
          margin-right: 2.5rem;
        }
        .did-tech-dependence-cause-intel-failure--qqP {
          text-align: center;
          line-height: 1.8725;
          color: #150c0c;
          margin-right: 4.05rem;
          font-weight: 700;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3rem;
        }
        .live-tracker-AMs {
          color: #150c0c;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 2.85rem;
          text-align: center;
          font-weight: 700;
          line-height: 1.8725;
          font-size: 3rem;
          flex-shrink: 0;
        }
        .a-simple-guide-tof {
          flex-shrink: 0;
          text-align: center;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #150c0c;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .image-59-S4V {
      height: 64.2rem;
      position: absolute;
      left: 0;
      top: 366.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 142.1rem;
    }
  }
}
