
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.opinion-rfX {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  padding-top: 2.4rem;
  overflow: hidden;

  .auto-group-vafu-Bho {
    margin: 0rem 0rem 2.1rem 2.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .image-1-Ugu {
      margin-right: 2.1rem;
      width: 11.1rem;
      height: 10.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .aljazeera-Q4m {
      margin: 0rem 4.8rem 0.8rem 0rem;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.8725;
      color: #efbf14;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .home-6yB {
      line-height: 1.8725;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.85rem 1.1rem 0rem;
      text-align: center;
      font-weight: 700;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      cursor: pointer;
      font-size: 2rem;
    }
    .news-RVf {
      margin: 0rem 0.35rem 1.1rem 0rem;
      font-size: 2rem;
      line-height: 1.8725;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      text-align: center;
      font-weight: 700;
    }
    .vector-YqB {
      margin: 0rem 2.049rem 0.6rem 0rem;
      width: 1.2009rem;
      height: 0.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .israel-gaza-war-GmB {
      cursor: pointer;
      font-weight: 700;
      line-height: 1.8725;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.5rem 1.1rem 0rem;
      text-align: center;
      font-size: 2rem;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
    }
    .features-njX {
      margin: 0rem 1.45rem 1.1rem 0rem;
      text-align: center;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.8725;
      white-space: nowrap;
    }
    .economy-uJM {
      cursor: pointer;
      text-align: center;
      font-weight: 700;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.6rem 1.1rem 0rem;
      font-size: 2rem;
      line-height: 1.8725;
    }
    .opinion-dEM {
      margin: 0rem 1.75rem 1.1rem 0rem;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
      white-space: nowrap;
      text-align: center;
      font-size: 2rem;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .video-LuT {
      text-align: center;
      font-size: 2rem;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.75rem 1.1rem 0rem;
      cursor: pointer;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
    }
    .more-GHK {
      font-weight: 700;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      font-size: 2rem;
      flex-shrink: 0;
      margin: 0rem 0.3rem 1.1rem 0rem;
      line-height: 1.8725;
    }
    .vector-P73 {
      flex-shrink: 0;
      margin: 0rem 4.198rem 0.7rem 0rem;
      width: 0.9022rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-WSZ {
      margin: 0rem 0.8rem 0.6rem 0rem;
      width: 2.1rem;
      height: 1.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .live-qjj {
      text-align: center;
      color: #000000;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 3.7rem 0.5rem 0rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.8725;
      white-space: nowrap;
    }
    .vector-AGD {
      margin: 0rem 33rem 0.4rem 0rem;
      width: 2rem;
      height: 2.1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .live-uDo {
      text-align: center;
      white-space: nowrap;
      margin-right: 24.3rem;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .live-3L1 {
      color: #150c0c;
      margin-top: 1.2rem;
      text-align: center;
      line-height: 1.8725;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 700;
    }
  }
  .auto-group-tbzk-a53 {
    box-sizing: border-box;
    padding: 2.2rem 0rem 3.4rem 3.7rem;
    width: 178.2362rem;
    display: flex;
    align-items: center;
    background-color: #e93a3a;
    flex-shrink: 0;
    margin-bottom: 2.8rem;

    .breaking-51o {
      flex-shrink: 0;
      font-weight: 700;
      line-height: 1.8725;
      color: #f6eeee;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 2.7rem;
      text-align: center;
      font-size: 3.6rem;
    }
    .line-1-bkq {
      height: 0.1rem;
      background-color: #faeded;
      flex-shrink: 0;
      margin: 0rem 2.75rem 6.7rem 0rem;
      width: 0.1rem;
    }
    .who-chief-raises-concerns-after-israel-forces-raid-northen-gaza-hospital-XPb {
      text-align: center;
      font-size: 3.2rem;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.6rem 3.45rem 0rem 0rem;
      line-height: 1.8725;
      color: #f6eeee;
      font-weight: 700;
    }
    .vector-oru {
      margin: 1.066rem 2.3rem 0rem 0rem;
      width: 2.9rem;
      height: 2.6656rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-iys {
      width: 2.4rem;
      height: 2.1658rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.966rem 40.464rem 0rem 0rem;
    }
    .iconoir-cancel-f8R {
      height: 2.403rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 1.3rem;
      width: 2.272rem;
    }
  }
  .opinion-nD3 {
    line-height: 1.8725;
    color: #000000;
    font-family: Cairo, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 8rem;
    font-size: 4rem;
    font-weight: 700;
  }
  .auto-group-cuqd-v4M {
    box-sizing: border-box;
    padding-top: 3.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-cag3-FcR {
      height: 79.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 0.2rem 3.7rem;

      .auto-group-3wdr-Nww {
        margin: 2.6rem 2.8rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .image-36-X49 {
          margin-bottom: 0.4rem;
          width: 62.3rem;
          height: 41.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-m2ls-Fkq {
          margin-bottom: 0.6rem;
          width: 52.6rem;
          height: 19.1rem;
          position: relative;
          flex-shrink: 0;

          .opinion-bph {
            width: 10.8rem;
            left: 0;
            font-weight: 700;
            white-space: nowrap;
            font-family: Cairo, 'Source Sans Pro';
            height: 6rem;
            position: absolute;
            top: 0;
            font-size: 3.2rem;
            line-height: 1.8725;
            color: #a69d9d;
          }
          .even-in-time-of-genocide-big-tech-silences-palestinians-vMB {
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            width: 52.6rem;
            height: 13.5rem;
            top: 5.6rem;
            line-height: 1.8725;
            position: absolute;
            left: 0;
            font-size: 3.6rem;
            font-weight: 700;
          }
        }
        .social-media-platforms-have-been-systematically-censoring-pro-palestinian-content-while-allowing-anti-palestinian-hate-speech-cUu {
          max-width: 63.3rem;
          font-size: 2.7rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-pwyd-J6q {
        margin: 2.6rem 0rem 3.1rem 0rem;
        height: calc(100% - 5.7rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .image-37-p5B {
          margin: 0rem 0rem 12.8rem 1.6rem;
          width: 25.9rem;
          height: 16.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .image-32-L3X {
          margin: 0rem 0rem 10.1rem 0.1rem;
          width: 25.9rem;
          height: 18.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .image-34-TP3 {
          width: 25.9rem;
          height: 16.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-82kb-oC1 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 0.8rem;

        .auto-group-wvns-wZ7 {
          margin-left: 1.4rem;
          width: 33.7rem;
          height: 19.1rem;
          position: relative;
          flex-shrink: 0;

          .opinion-V4q {
            position: absolute;
            font-size: 2rem;
            line-height: 1.8725;
            white-space: nowrap;
            width: 7.7rem;
            height: 3.8rem;
            font-weight: 700;
            color: #a69d9d;
            font-family: Cairo, 'Source Sans Pro';
            left: 0;
            top: 0;
          }
          .how-arab-eco-normalisation-of-israel-covers-up-its-crimes-Cjw {
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            width: 27.2rem;
            height: 7.5rem;
            left: 0;
            font-size: 2rem;
            position: absolute;
            top: 2.7rem;
            font-weight: 700;
          }
          .the-image-of-a-green-technology-pioneer-helps-israel-to-greenwash-its-occupation-and-apartheid-in-palestine-CdT {
            position: absolute;
            left: 0;
            top: 10.1rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #7a7676;
            width: 33.7rem;
            height: 9rem;
            font-size: 1.6rem;
            font-family: Cairo, 'Source Sans Pro';
          }
        }
        .image-39-G7X {
          margin: 0rem 0rem 3rem 0.3rem;
          width: 34rem;
          height: 7.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-ppg3-nbf {
          margin: 0rem 0rem 0.1rem 0.3rem;
          width: 33.8rem;
          height: 22.2rem;
          position: relative;
          flex-shrink: 0;

          .opinion-WGm {
            top: 0;
            font-size: 2rem;
            font-weight: 700;
            color: #a69d9d;
            white-space: nowrap;
            width: 7.7rem;
            height: 3.8rem;
            position: absolute;
            left: 0.3rem;
            line-height: 1.8725;
            font-family: Cairo, 'Source Sans Pro';
          }
          .the-state-of-exception-in-hon-duras-is-endangering-innocent-lives-dcH {
            position: absolute;
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            width: 26.1rem;
            height: 11.3rem;
            left: 0.3rem;
            top: 3.2rem;
            font-size: 2rem;
          }
          .the-heavy-handed-security-measures-introduced-to-tackle-gang-violence-have-triggered-a-spike-in-abuses-and-deaths-iNq {
            height: 9rem;
            left: 0;
            top: 13.2rem;
            font-weight: 700;
            font-family: Cairo, 'Source Sans Pro';
            width: 33.8rem;
            position: absolute;
            font-size: 1.6rem;
            line-height: 1.8725;
            color: #7a7676;
          }
        }
        .image-40-ndb {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 4.3rem;
          width: 26.1rem;
          height: 3.3rem;
          object-fit: cover;
        }
        .auto-group-xxgt-XbB {
          width: 34.1rem;
          height: 19.5rem;
          position: relative;
          flex-shrink: 0;

          .opinion-UWR {
            top: 0;
            line-height: 1.8725;
            color: #a69d9d;
            width: 7.7rem;
            height: 3.8rem;
            position: absolute;
            left: 0.3rem;
            font-size: 2rem;
            font-weight: 700;
            font-family: Cairo, 'Source Sans Pro';
            white-space: nowrap;
          }
          .israel-should-learn-from-french-mistakes-in-algeria-nGD {
            height: 7.5rem;
            top: 3.2rem;
            font-family: Cairo, 'Source Sans Pro';
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
            width: 26.8rem;
            position: absolute;
            left: 0;
            font-size: 2rem;
          }
          .and-president-biden-from-president-kennedys-principled-and-pragmatic-support-for-an-occupied-peoples-struggle-for-liberation-gsP {
            line-height: 1.8725;
            color: #7a7676;
            width: 34.1rem;
            position: absolute;
            left: 0;
            top: 10.5rem;
            font-size: 1.6rem;
            font-weight: 700;
            height: 9rem;
            font-family: Cairo, 'Source Sans Pro';
          }
        }
      }
    }
    .auto-group-lz9m-8Db {
      margin: 0rem 20.4rem 9.4rem 2.9rem;
      width: calc(100% - 23.3rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .image-38-rQV {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 1.4rem 68.3rem 0rem 0rem;
        width: 26.1rem;
        height: 3.8rem;
      }
      .image-41-mXT {
        width: 26.3rem;
        height: 3.3rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-wqd5-WV3 {
      flex-shrink: 0;
      margin: 0rem 13.4rem 0rem 7.9rem;
      width: calc(100% - 21.3rem);
      height: 72.2rem;
      display: flex;
      align-items: center;

      .image-92-dpZ {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3rem;
        width: 79.4rem;
        height: 72.2rem;
        object-fit: cover;
      }
      .auto-group-ceax-mvm {
        width: 40.3rem;
        height: calc(100% - 25.1rem);
        flex-shrink: 0;
        margin: 8.3rem 0rem 16.8rem 0rem;

        .auto-group-s7dd-6CM {
          background-color: #f8eded;
          margin-bottom: 1.2rem;
          box-sizing: border-box;
          padding: 2.3rem 1.8rem 5.6rem 2.6rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-61pp-QTw {
            height: 9.5rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 0rem 3.5rem 2.6rem;
            width: 33.3rem;

            .sign-up-for-al-jazeera-jm7 {
              position: absolute;
              left: 6rem;
              font-size: 2rem;
              color: #000000;
              font-family: Cairo, 'Source Sans Pro';
              width: 19.6rem;
              height: 3.8rem;
              top: 0;
              font-weight: 400;
              line-height: 1.8725;
              white-space: nowrap;
            }
            .week-in-the-middle-east-r53 {
              font-weight: 700;
              color: #000000;
              font-family: Cairo, 'Source Sans Pro';
              width: 33.3rem;
              height: 6rem;
              top: 3.5rem;
              font-size: 3.2rem;
              position: absolute;
              left: 0;
              line-height: 1.8725;
              white-space: nowrap;
            }
          }
          .catch-up-on-our-coverage-of-the-region-all-in-one-place-x85 {
            margin: 0rem 4.6rem 1.6rem 0rem;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .auto-group-jkx5-FN5 {
            margin: 0rem 1.9rem 2.2rem 0rem;
            color: #beb6b6;
            flex-shrink: 0;
            padding: 0.2rem 2rem;
            height: 4.6rem;
            border: solid 0.1rem #d9d9d9;
            white-space: nowrap;
            background-color: #f5f5f5;
            width: 34rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.8725;
            box-sizing: border-box;
            font-family: Cairo, 'Source Sans Pro';
            border-radius: 0.4rem;
          }
          .auto-group-2hhd-HZf {
            height: 4.4rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 12.1rem 4.5rem 10.3rem;
            width: calc(100% - 22.4rem);

            .rectangle-6-QeH {
              background-color: #000000;
              width: 13.5rem;
              height: 4.2rem;
              position: absolute;
              left: 0;
              top: 0;
            }
            .sign-up-ky3 {
              height: 4.4rem;
              position: absolute;
              font-weight: 400;
              line-height: 1.8725;
              color: #fffdfd;
              white-space: nowrap;
              width: 8.2rem;
              left: 3.1rem;
              top: 0;
              font-size: 2.3rem;
              font-family: Cairo, 'Source Sans Pro';
            }
          }
          .auto-group-x4gs-snm {
            align-items: center;
            flex-shrink: 0;
            margin-right: 9.7rem;
            width: calc(100% - 9.7rem);
            display: flex;

            .by-signing-up-you-agree-to-our-pi1 {
              font-weight: 400;
              line-height: 1.8725;
              color: #000000;
              font-family: Cairo, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.6rem;
              font-size: 1.3rem;
            }
            .privacy-policy-krZ {
              line-height: 1.8725;
              color: #000000;
              font-family: Cairo, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.3rem;
              font-weight: 700;
            }
          }
        }
        .protected-by-recaptcha-4sF {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .image-93-yzD {
      margin: 0rem 0rem 2rem 7.9rem;
      width: 82.3rem;
      height: 128.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .image-94-VxZ {
      margin: 0rem 0rem 12.9rem 7.9rem;
      width: 82.3rem;
      height: 43.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-rcvo-E9T {
      color: #fffdfd;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #000000;
      font-weight: 400;
      box-sizing: border-box;
      padding: 0.2rem 9.3rem 0.2rem 9.2rem;
      width: calc(100% - 110.1rem);
      height: 7.7rem;
      font-size: 3.2rem;
      line-height: 1.8725;
      flex-shrink: 0;
      margin: 0rem 78rem 13.1rem 32.1rem;
    }
    .image-95-h33 {
      flex-shrink: 0;
      width: 142.1rem;
      height: 64.2rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
