
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.news-NdB {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 2rem;
  width: 100%;
  align-items: center;

  .auto-group-k2qk-sZw {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 15rem 2.5rem 0rem;

    .image-43-ZSm {
      margin-right: 2.1rem;
      width: 11.1rem;
      height: 10.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .aljazeera-6Bo {
      font-weight: 700;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 4.8rem 0.8rem 0rem;
      text-align: center;
      font-size: 3rem;
      line-height: 1.8725;
      color: #efbf14;
      font-family: Cairo, 'Source Sans Pro';
    }
    .home-Pgh {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.8725;
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      text-align: center;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      margin: 0rem 2.85rem 1.1rem 0rem;
    }
    .news-6LD {
      margin: 0rem 0.35rem 1.1rem 0rem;
      font-size: 2rem;
      line-height: 1.8725;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      font-weight: 700;
      color: #150c0c;
      flex-shrink: 0;
    }
    .vector-CPF {
      width: 1.2009rem;
      height: 0.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.049rem 0.6rem 0rem;
    }
    .israel-gaza-war-Kim {
      margin: 0rem 1.5rem 1.1rem 0rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      white-space: nowrap;
    }
    .features-dUZ {
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 700;
      color: #150c0c;
      margin: 0rem 1.45rem 1.1rem 0rem;
      text-align: center;
      line-height: 1.8725;
      flex-shrink: 0;
    }
    .economy-wVF {
      cursor: pointer;
      color: #150c0c;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.6rem 1.1rem 0rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.8725;
      font-family: Cairo, 'Source Sans Pro';
    }
    .opinion-fg9 {
      margin: 0rem 1.75rem 1.1rem 0rem;
      cursor: pointer;
      text-align: center;
      font-size: 2rem;
      line-height: 1.8725;
      color: #150c0c;
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
    }
    .video-ao7 {
      margin: 0rem 2.75rem 1.1rem 0rem;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      text-align: center;
      font-size: 2rem;
      line-height: 1.8725;
      color: #150c0c;
      white-space: nowrap;
    }
    .more-72M {
      line-height: 1.8725;
      flex-shrink: 0;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0.3rem 1.1rem 0rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
    }
    .vector-DbB {
      margin: 0rem 4.198rem 0.7rem 0rem;
      width: 0.9022rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-9jj {
      margin: 0rem 0.8rem 0.6rem 0rem;
      width: 2.1rem;
      height: 1.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .live-tBX {
      margin: 0rem 3.7rem 0.5rem 0rem;
      font-size: 2rem;
      font-weight: 700;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      line-height: 1.8725;
      font-family: Cairo, 'Source Sans Pro';
    }
    .vector-1mw {
      flex-shrink: 0;
      margin-bottom: 0.4rem;
      width: 2rem;
      height: 2.1rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-l4vr-Yms {
    display: flex;
    align-items: center;
    background-color: #e93a3a;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.2rem 11rem 3.4rem 3rem;
    width: 100%;

    .breaking-sZF {
      font-weight: 700;
      color: #f6eeee;
      flex-shrink: 0;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 2.4rem;
      text-align: center;
      font-size: 3.6rem;
      line-height: 1.8725;
    }
    .line-1-CbX {
      background-color: #faeded;
      flex-shrink: 0;
      margin: 0rem 1.55rem 6.3rem 0rem;
      width: 0.1rem;
      height: 0.1rem;
    }
    .who-chief-raises-concerns-after-israel-forces-raid-northen-gaza-hospital-Kw3 {
      text-align: center;
      font-weight: 700;
      line-height: 1.8725;
      color: #f6eeee;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.75rem 0.2rem 0rem;
      font-size: 3.2rem;
    }
    .vector-orD {
      margin: 0.2rem 2.7rem 0rem 0rem;
      width: 2.9rem;
      height: 3.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-Lr9 {
      margin-top: 0.8rem;
      width: 2.4rem;
      height: 2.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .news-UhT {
    margin-right: 8.1rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.8725;
    color: #000000;
    font-family: Cairo, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-meaf-cof {
    width: 100%;
    height: 487.7rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-bquv-YhK {
      top: 3.4rem;
      display: flex;
      align-items: center;
      width: 130.2rem;
      height: 46.5rem;
      position: absolute;
      left: 3rem;

      .auto-group-lqy7-UL5 {
        width: 68.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .image-22-pPw {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 68.3rem;
          height: 44.8rem;
        }
        .rectangle-3-Yqj {
          width: 13.6rem;
          height: 3.3rem;
          position: absolute;
          left: 12rem;
          top: 43.2rem;
          background-color: #fb8d0b;
        }
      }
      .auto-group-ws27-t8u {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 3.8rem;
        height: 100%;

        .auto-group-bb1v-q49 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 1.9rem;

          .image-63-anR {
            width: 25.6rem;
            height: 18.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 5.5rem;
          }
          .image-61-Wvy {
            width: 25.6rem;
            height: 17.4rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-qkib-TLR {
          margin-top: 1.8rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .dozens-hurt-childrens-hospital-damaged-in-russian-missile-attack-on-kyiv-cDK {
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.3rem;
            max-width: 30.6rem;
            font-size: 1.6rem;
          }
          .officials-warn-number-of-injured-could-rise-after-second-missile-attack-on-ukrainian-capital-this-week-Vnu {
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 7.4rem;
            max-width: 30rem;
            font-size: 1.5rem;
          }
          .zelenskyy-urges-new-ukraine-aid-as-biden-warns-funding-delay-helps-putin-b5F {
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1.4rem;
            max-width: 29.4rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
          }
          .ukrainian-president-goes-on-diplomatic-offensive-in-washington-dc-to-try-and-win-over-sceptical-right-wing-republicans-tKF {
            max-width: 29.9rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-pcvp-Tmf {
      display: flex;
      align-items: center;
      width: 125.4rem;
      height: 21.4rem;
      position: absolute;
      left: 4rem;
      top: 50.7rem;

      .russia-ukraine-war-list-of-key-events-day-658-as-the-war-enters-658th-daythese-are-the-main-developments-13-dec-2023-PvD {
        line-height: 1.8725;
        color: #000000;
        font-family: Cairo, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 55.2rem;
        font-size: 4rem;
        font-weight: 700;

        .russia-ukraine-war-list-of-key-events-day-658-as-the-war-enters-658th-daythese-are-the-main-developments-13-dec-2023-PvD-sub-0 {
        }
        .russia-ukraine-war-list-of-key-events-day-658-as-the-war-enters-658th-daythese-are-the-main-developments-13-dec-2023-PvD-sub-1 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
        }
        .russia-ukraine-war-list-of-key-events-day-658-as-the-war-enters-658th-daythese-are-the-main-developments-13-dec-2023-PvD-sub-2 {
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
      .auto-group-2z5z-C8u {
        box-sizing: border-box;
        padding: 1.4rem 0rem 1.4rem 15.9rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .image-62-82Z {
          height: 16.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.9rem;
          width: 25.6rem;
        }
        .auto-group-frk3-rjF {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .russia-ukraine-war-list-of-key-events-day-658-Dph {
            max-width: 26.8rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 2.2rem;
          }
          .as-the-war-enters-its-658th-day-these-are-the-main-developments-8gm {
            max-width: 26.4rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-9dyu-EUu {
      align-items: center;
      width: 131.7rem;
      height: 63.2rem;
      position: absolute;
      left: 2.2rem;
      top: 80.8rem;
      display: flex;

      .auto-group-bipb-9rm {
        width: 88.6rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.8rem;

        .auto-group-1cpm-JDs {
          width: 100%;
          height: 28.9rem;
          position: relative;
          flex-shrink: 0;

          .australia-is-preparing-to-burn-more-fossil-fuels-T6m {
            width: 55.2rem;
            position: absolute;
            left: 0.9rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
            height: 11.3rem;
            top: 0;
            font-size: 3rem;
            font-family: Cairo, 'Source Sans Pro';
          }
          .australias-government-struggles-with-climate-contradictions-as-it-commits-to-damaging-fossil-fuel-projects-13-dec-2023-LgM {
            height: 17.7rem;
            left: 0.9rem;
            font-weight: 400;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            width: 51.9rem;
            top: 11.2rem;
            font-size: 2.4rem;
            line-height: 1.8725;
            position: absolute;

            .australias-government-struggles-with-climate-contradictions-as-it-commits-to-damaging-fossil-fuel-projects-13-dec-2023-LgM-sub-0 {
            }
            .australias-government-struggles-with-climate-contradictions-as-it-commits-to-damaging-fossil-fuel-projects-13-dec-2023-LgM-sub-1 {
              font-family: Cairo, 'Source Sans Pro';
              font-size: 2.2rem;
              font-weight: 400;
              line-height: 1.8725;
              color: #000000;
            }
          }
          .image-64-cnH {
            height: 16.1rem;
            position: absolute;
            left: 61.1rem;
            top: 4.6rem;
            object-fit: cover;
            vertical-align: top;
            width: 23.4rem;
          }
          .line-16-x5T {
            left: 0;
            top: 27.9rem;
            background-color: #bcacac;
            width: 88.6rem;
            height: 0.1rem;
            position: absolute;
          }
        }
        .auto-group-xbmv-4eH {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 2.6rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .image-66-Qi9 {
            flex-shrink: 0;
            width: 16.8rem;
            height: 2.9rem;
            object-fit: cover;
            vertical-align: top;
          }
          .auto-group-m9ph-YpM {
            margin: 0rem 2.4rem 0rem 0.8rem;
            width: calc(100% - 3.2rem);
            height: 28.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-pu7y-fPB {
              margin-right: 7.6rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .un-votes-for-gaza-ceasefire-biden-says-israel-losing-support-for-war-ADT {
                margin-bottom: 0.4rem;
                max-width: 51.8rem;
                font-size: 3rem;
                font-weight: 700;
                line-height: 1.8725;
                color: #000000;
                font-family: Cairo, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .un-general-assembly-passes-non-binding-motion-demanding-end-to-israeli-war-on-gaza-as-humanitarian-crisis-worsens-13-dec-2023-rry {
                line-height: 1.8725;
                color: #000000;
                font-family: Cairo, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 53.5rem;
                font-size: 2.4rem;
                font-weight: 400;

                .un-general-assembly-passes-non-binding-motion-demanding-end-to-israeli-war-on-gaza-as-humanitarian-crisis-worsens-13-dec-2023-rry-sub-0 {
                }
                .un-general-assembly-passes-non-binding-motion-demanding-end-to-israeli-war-on-gaza-as-humanitarian-crisis-worsens-13-dec-2023-rry-sub-1 {
                  font-size: 1.9rem;
                  font-weight: 400;
                  line-height: 1.8725;
                  color: #000000;
                  font-family: Cairo, 'Source Sans Pro';
                }
              }
            }
            .image-65-aRb {
              margin-bottom: 4.4rem;
              width: 24.3rem;
              height: 18rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .auto-group-ppbz-7Ad {
        height: calc(100% - 16.1rem);
        flex-shrink: 0;
        margin: 9.3rem 0rem 6.8rem 0rem;
        width: 40.3rem;

        .auto-group-u2kk-EW9 {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #f8eded;
          margin-bottom: 1.2rem;
          box-sizing: border-box;
          padding: 2.3rem 1.8rem 5.6rem 2.6rem;

          .auto-group-zycs-wQZ {
            margin: 0rem 0rem 3.5rem 2.6rem;
            width: 33.3rem;
            height: 9.5rem;
            position: relative;
            flex-shrink: 0;

            .sign-up-for-al-jazeera-4VB {
              font-size: 2rem;
              font-weight: 400;
              color: #000000;
              white-space: nowrap;
              top: 0;
              line-height: 1.8725;
              font-family: Cairo, 'Source Sans Pro';
              width: 19.6rem;
              height: 3.8rem;
              position: absolute;
              left: 6rem;
            }
            .week-in-the-middle-east-meV {
              left: 0;
              line-height: 1.8725;
              white-space: nowrap;
              position: absolute;
              height: 6rem;
              top: 3.5rem;
              font-size: 3.2rem;
              font-weight: 700;
              color: #000000;
              font-family: Cairo, 'Source Sans Pro';
              width: 33.3rem;
            }
          }
          .catch-up-on-our-coverage-of-the-region-all-in-one-place-UYu {
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 4.6rem 1.6rem 0rem;
            font-size: 1.3rem;
          }
          .auto-group-bgzy-mnu {
            height: 4.6rem;
            line-height: 1.8725;
            background-color: #f5f5f5;
            width: 34rem;
            font-size: 2rem;
            font-weight: 400;
            margin: 0rem 1.9rem 2.2rem 0rem;
            box-sizing: border-box;
            color: #beb6b6;
            font-family: Cairo, 'Source Sans Pro';
            border: solid 0.1rem #d9d9d9;
            border-radius: 0.4rem;
            padding: 0.2rem 2rem;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .auto-group-7e11-ojb {
            margin: 0rem 12.1rem 4.5rem 10.3rem;
            width: calc(100% - 22.4rem);
            height: 4.4rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-6-XQh {
              width: 13.5rem;
              height: 4.2rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #000000;
            }
            .sign-up-5BK {
              top: 0;
              line-height: 1.8725;
              color: #fffdfd;
              font-family: Cairo, 'Source Sans Pro';
              height: 4.4rem;
              left: 3.1rem;
              font-size: 2.3rem;
              font-weight: 400;
              white-space: nowrap;
              width: 8.2rem;
              position: absolute;
            }
          }
          .auto-group-insu-Bk9 {
            margin-right: 9.7rem;
            width: calc(100% - 9.7rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .by-signing-up-you-agree-to-our-89b {
              font-weight: 400;
              line-height: 1.8725;
              color: #000000;
              font-family: Cairo, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.6rem;
              font-size: 1.3rem;
            }
            .privacy-policy-r5b {
              font-size: 1.3rem;
              font-weight: 700;
              line-height: 1.8725;
              color: #000000;
              font-family: Cairo, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .protected-by-recaptcha-yR7 {
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
    }
    .auto-group-pesf-WR3 {
      width: 85.4rem;
      height: 25.1rem;
      position: absolute;
      left: 3rem;
      top: 147.5rem;

      .un-general-assembly-votes-overwhelmingly-in-favour-of-gaza-ceasefire-qy7 {
        color: #000000;
        height: 11.3rem;
        position: absolute;
        left: 0;
        top: 0;
        line-height: 1.8725;
        width: 57.4rem;
        font-size: 3rem;
        font-weight: 700;
        font-family: Cairo, 'Source Sans Pro';
      }
      .the-us-and-israel-were-among-the-few-votes-against-the-non-binding-resolution-calling-for-an-end-to-the-fighting-12-dec-2023-jYh {
        position: absolute;
        line-height: 1.8725;
        font-family: Cairo, 'Source Sans Pro';
        width: 61.2rem;
        height: 12.8rem;
        left: 0;
        top: 12.3rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: #000000;

        .the-us-and-israel-were-among-the-few-votes-against-the-non-binding-resolution-calling-for-an-end-to-the-fighting-12-dec-2023-jYh-sub-0 {
        }
        .the-us-and-israel-were-among-the-few-votes-against-the-non-binding-resolution-calling-for-an-end-to-the-fighting-12-dec-2023-jYh-sub-1 {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
        }
      }
      .image-67-eZB {
        width: 24.3rem;
        height: 17.5rem;
        position: absolute;
        left: 61.1rem;
        top: 3.5rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-nvef-BZ7 {
      display: flex;
      align-items: center;
      width: 86.2rem;
      height: 28.8rem;
      position: absolute;
      left: 2.2rem;
      top: 176rem;

      .auto-group-61rd-K9X {
        margin-right: 1.3rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .uks-sunak-wins-parliament-vote-on-deporting-asylum-seekers-to-rwanda-sRw {
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 0.2rem 0.8rem;
          max-width: 59.8rem;
        }
        .sunak-faces-down-conservative-party-rebels-by-winning-a-knife-edge-vote-on-his-latest-plans-to-send-refugees-and-migrants-to-rwanda-12-dec-2023-MM7 {
          max-width: 57.8rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;

          .sunak-faces-down-conservative-party-rebels-by-winning-a-knife-edge-vote-on-his-latest-plans-to-send-refugees-and-migrants-to-rwanda-12-dec-2023-MM7-sub-0 {
          }
          .sunak-faces-down-conservative-party-rebels-by-winning-a-knife-edge-vote-on-his-latest-plans-to-send-refugees-and-migrants-to-rwanda-12-dec-2023-MM7-sub-1 {
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.8725;
          }
        }
      }
      .image-68-THf {
        width: 24.3rem;
        height: 18rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.4rem;
      }
    }
    .auto-group-uj6k-nqj {
      height: 25.5rem;
      position: absolute;
      left: 2.2rem;
      top: 208.5rem;
      display: flex;
      align-items: center;
      width: 84.9rem;

      .auto-group-vdsb-vh3 {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 3.5rem;
        height: 100%;
        display: flex;

        .biden-warns-israel-risks-losing-support-over-indiscriminate-gaza-bombing-ggD {
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.4rem;
          max-width: 57.1rem;
        }
        .us-president-offers-his-sharpest-public-criticism-of-israel-since-the-start-of-its-war-with-hamas-12-dec-2023-BN5 {
          font-weight: 400;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 57rem;
          font-size: 2.4rem;

          .us-president-offers-his-sharpest-public-criticism-of-israel-since-the-start-of-its-war-with-hamas-12-dec-2023-BN5-sub-0 {
          }
          .us-president-offers-his-sharpest-public-criticism-of-israel-since-the-start-of-its-war-with-hamas-12-dec-2023-BN5-sub-1 {
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            font-size: 2rem;
          }
        }
      }
      .image-69-j2D {
        height: 18.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        width: 24.3rem;
      }
    }
    .auto-group-jmdv-rcd {
      position: absolute;
      left: 2.9rem;
      top: 238.8rem;
      display: flex;
      align-items: center;
      width: 85.1rem;
      height: 20.3rem;

      .auto-group-gtwr-Nqs {
        margin-right: 2.3rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .harvard-president-claudine-gay-keeps-job-XTs {
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          font-size: 3rem;
        }
        .harvards-president-claudine-gay-has-received-unanimous-support-from-the-university-board-to-remain-in-her-role-12-dec-2023-Saq {
          margin-left: 0.1rem;
          max-width: 58.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;

          .harvards-president-claudine-gay-has-received-unanimous-support-from-the-university-board-to-remain-in-her-role-12-dec-2023-Saq-sub-0 {
          }
          .harvards-president-claudine-gay-has-received-unanimous-support-from-the-university-board-to-remain-in-her-role-12-dec-2023-Saq-sub-1 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
          }
        }
      }
      .image-70-wg1 {
        margin-top: 0.9rem;
        width: 24.3rem;
        height: 17.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-5c8k-HE5 {
      display: flex;
      align-items: center;
      width: 84.2rem;
      height: 29.5rem;
      position: absolute;
      left: 2.9rem;
      top: 266rem;

      .auto-group-hvt7-1fs {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.6rem;
        height: 100%;

        .clear-threat-kashmiris-on-india-top-court-upholding-removal-of-autonomy-xr1 {
          max-width: 54.4rem;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.9rem;
        }
        .for-the-residents-fears-of-demographic-change-triggered-by-modi-governments-2019-move-are-slowly-becoming-a-reality-12-dec-2023-rgV {
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.2rem;
          max-width: 57.1rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.8725;
          color: #000000;

          .for-the-residents-fears-of-demographic-change-triggered-by-modi-governments-2019-move-are-slowly-becoming-a-reality-12-dec-2023-rgV-sub-0 {
          }
          .for-the-residents-fears-of-demographic-change-triggered-by-modi-governments-2019-move-are-slowly-becoming-a-reality-12-dec-2023-rgV-sub-1 {
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
          }
        }
      }
      .image-71-aF7 {
        flex-shrink: 0;
        margin-bottom: 4.9rem;
        width: 24.3rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-weao-WPf {
      width: 85.7rem;
      height: 28.5rem;
      position: absolute;
      left: 3.1rem;
      top: 297.3rem;
      display: flex;
      align-items: center;

      .auto-group-n9ss-EqT {
        margin-right: 2.4rem;
        width: 57.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .us-announces-hundreds-of-new-sanctions-in-push-to-isolate-russia-nMB {
          left: 0;
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
          font-size: 3rem;
          font-family: Cairo, 'Source Sans Pro';
          width: 57.1rem;
          height: 11.3rem;
          position: absolute;
          top: 0;
        }
        .new-sanctions-target-entities-and-individuals-around-the-world-in-bid-to-isolate-russia-as-its-war-on-ukraine-continues-12-dec-2023-Uzh {
          height: 17.3rem;
          position: absolute;
          font-size: 2.4rem;
          font-weight: 400;
          font-family: Cairo, 'Source Sans Pro';
          width: 57.3rem;
          top: 11.2rem;
          line-height: 1.8725;
          color: #000000;
          left: 0;

          .new-sanctions-target-entities-and-individuals-around-the-world-in-bid-to-isolate-russia-as-its-war-on-ukraine-continues-12-dec-2023-Uzh-sub-0 {
          }
          .new-sanctions-target-entities-and-individuals-around-the-world-in-bid-to-isolate-russia-as-its-war-on-ukraine-continues-12-dec-2023-Uzh-sub-1 {
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
          }
        }
      }
      .image-72-ypy {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 26rem;
        height: 18.8rem;
        object-fit: cover;
      }
    }
    .auto-group-svwj-7gH {
      position: absolute;
      left: 2.2rem;
      top: 328rem;
      display: flex;
      align-items: center;
      width: 86.5rem;
      height: 28.1rem;

      .auto-group-pclt-SyT {
        width: 59.8rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 1.3rem;

        .cop28-climate-talks-go-into-overtime-amid-standoff-over-fossil-fuels-Ns7 {
          left: 0;
          top: 0;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.8725;
          width: 55rem;
          height: 11.3rem;
          font-family: Cairo, 'Source Sans Pro';
          position: absolute;
          color: #000000;
        }
        .a-flurry-of-shuttle-diplomacy-is-under-way-at-the-un-led-negotiations-in-the-uae-as-countries-fight-over-the-wording-of-a-potential-deal-12-dec-2023-fbK {
          width: 59.8rem;
          top: 10.8rem;
          font-size: 2.4rem;
          font-weight: 400;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          height: 17.3rem;
          position: absolute;
          left: 0;
          line-height: 1.8725;

          .a-flurry-of-shuttle-diplomacy-is-under-way-at-the-un-led-negotiations-in-the-uae-as-countries-fight-over-the-wording-of-a-potential-deal-12-dec-2023-fbK-sub-0 {
          }
          .a-flurry-of-shuttle-diplomacy-is-under-way-at-the-un-led-negotiations-in-the-uae-as-countries-fight-over-the-wording-of-a-potential-deal-12-dec-2023-fbK-sub-1 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
          }
        }
      }
      .image-73-m25 {
        margin-bottom: 0.9rem;
        width: 25.4rem;
        height: 19rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-2myw-VTs {
      top: 359.3rem;
      display: flex;
      align-items: center;
      width: 84.5rem;
      height: 28.3rem;
      position: absolute;
      left: 4rem;

      .auto-group-budz-d4H {
        position: relative;
        flex-shrink: 0;
        margin-right: 5.9rem;
        width: 51.4rem;
        height: 100%;

        .ukraines-zelenskyy-arrives-in-the-us-whats-on-the-agenda-mgH {
          height: 11.3rem;
          position: absolute;
          top: 0;
          font-size: 3rem;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          width: 48.6rem;
          left: 0;
          font-weight: 700;
          line-height: 1.8725;
        }
        .the-ukrainian-president-is-trying-to-help-break-a-us-domestic-political-deadlock-that-would-deprive-his-country-of-war-funding-12-dec-2023-sDX {
          top: 11rem;
          color: #000000;
          width: 51.4rem;
          height: 17.3rem;
          position: absolute;
          line-height: 1.8725;
          font-family: Cairo, 'Source Sans Pro';
          left: 0;
          font-size: 2.4rem;
          font-weight: 400;

          .the-ukrainian-president-is-trying-to-help-break-a-us-domestic-political-deadlock-that-would-deprive-his-country-of-war-funding-12-dec-2023-sDX-sub-0 {
          }
          .the-ukrainian-president-is-trying-to-help-break-a-us-domestic-political-deadlock-that-would-deprive-his-country-of-war-funding-12-dec-2023-sDX-sub-1 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
          }
        }
      }
      .image-74-NJh {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 27.2rem;
        height: 20.7rem;
      }
    }
    .line-17-uZX {
      width: 88.6rem;
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
      top: 144.5932rem;
      background-color: #bcacac;
    }
    .line-18-39w {
      top: 174.2rem;
      background-color: #bcacac;
      width: 88.6rem;
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
    }
    .line-19-yJV {
      width: 88.6001rem;
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
      top: 204.8149rem;
      background-color: #bcacac;
    }
    .line-20-6e1 {
      width: 88.6rem;
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
      top: 236.8rem;
      background-color: #bcacac;
    }
    .line-21-2nZ {
      width: 88.6rem;
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
      top: 263.4rem;
      background-color: #bcacac;
    }
    .line-22-gs7 {
      width: 88.6rem;
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
      top: 296.2rem;
      background-color: #bcacac;
    }
    .line-23-RZo {
      background-color: #bcacac;
      width: 88.5999rem;
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
      top: 327.5932rem;
    }
    .line-24-m7s {
      top: 357.4rem;
      background-color: #bcacac;
      width: 88.6rem;
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
    }
    .line-25-uUy {
      width: 89.7rem;
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
      top: 390.2rem;
      background-color: #bcacac;
    }
    .auto-group-adfz-FYq {
      box-sizing: border-box;
      padding: 0.2rem 9.5rem 0.2rem 9rem;
      height: 7.7rem;
      line-height: 1.8725;
      font-family: Cairo, 'Source Sans Pro';
      left: 30.2rem;
      font-size: 3.2rem;
      font-weight: 400;
      color: #fffdfd;
      width: 33.9rem;
      position: absolute;
      top: 395.8rem;
      white-space: nowrap;
      background-color: #000000;
    }
    .image-59-J1K {
      height: 64.2rem;
      position: absolute;
      left: 0;
      top: 423.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 142.1rem;
    }
  }
}
